
## SOME GENERAL IMPORTS + GUI IMPORTS ##

import(stats, Rcmdr)
importFrom(tcltk,ttknotebook,tkwidget,.Tk.subwin,.Tk.newwin,tkbutton,ttklabel,tkadd)



## OWN FUNCTIONS EXPORT ##
exportPattern("^[^\\.]")

export(.add.frame,.initialize.new.frames,.initialize.grid.config,.initialize.grid.rows,.grid.matrix,.combine.rows)
